---
layout: base
---

<main role="main" aria-label="Main Content">
    <header class="header header--home">
        <section class="header--content">
            <figure class="header__logo">
                <img src="/assets/img/rj-logo.svg" alt="{{ page.title }}">
                <img src="/assets/img/rj-name.svg" alt="{{ page.title }}">
            </figure>
        </section>
        <section class="scroll-indicator">
            <i class="fas fa-chevron-down"></i>
        </section>
    </header>
    <article class="item item--highlight">
        <picture class="image">
            <img src="{{ site.posts.last.image }}" alt="{{ site.posts.last.title }}" />
        </picture>
        <section class="content">
            <h2 class="title">{{ site.posts.last.title }}. <small class="tag">{% for category in site.posts.last.categories %}{{ category | capitalize }}{% endfor %}.</small></h2>
            <p>{{ site.posts.last.excerpt }}</p>
            <p><a href="{{ site.posts.last.url }}" class="button">Lees meer</a></p>
        </section>
    </article>
    <article class="card--slider">
        <section class="slider" role="feed" aria-label="Highlighted Content" data-items="1.2,2.2,3.5">
            {% for post in site.posts %}
                <div class="card card--{{post.color}}">
                    <div class="card-body">
                        <label class="tag">{% for category in post.categories %}{{ category | capitalize }}{% endfor %}.</label>
                        <h2 class="title">{{post.title}}</h2>
                        <a href="{{post.url}}" class="button">Bekijken</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </article>
</main>
