---
layout: base
---


<main role="main" class="container">
    <article class="post">
        <header class="post__header">
            <label class="tag">
                {{ page.categories[0] | capitalize }}.
            </label>
            <section class="page-previous">
                <a href="{% link posts.md %}"><i class="fas fa-chevron-circle-left"></i></a>
            </section>
            <h1>{{ page.title | capitalize }}</h1>
            <ul class="keywords">
                {% for tag in page.tags  %}
                    <li>{{ tag | capitalize }}</li>
                {% endfor %}
            </ul>
        </header>
        <section class="post__content">
            {{content}}
        </section>
    </article>
</main>

{% for post in site.posts %}
    {% if post.url == page.url %}
        {% assign pOffset = forloop.index0 | minus: 1 %}
        {% assign nOffset = pOffset | plus: 2 %}
        {% if forloop.first == false %}
            {% assign next_post = site.posts[pOffset] %}
        {% endif %}
        {% if forloop.last == false %}
            {% assign previous_post = site.posts[nOffset] %}
        {% endif %}
        {% break %}
    {% endif %}
{% endfor %}
<div class="post__neighbors__container">
    <section class="post__neighbors">
        <div class="post__neighbor">
            {% if next_post %}
                <a href="{{ next_post.url }}">
                    <figure class="image">
                        <picture>
                            <img src="{{ next_post.image }}" alt="">
                        </picture>
                    </figure>
                    <span class="title">{{ next_post.title }}</span>
                </a>
            {% endif %}
        </div>
        <div class="post__neighbor">
            {% if previous_post %}
            <a href="{{ previous_post.url }}">
                <figure class="image">
                    <picture>
                        <img src="{{ previous_post.image }}" alt="">
                    </picture>
                </figure>
                <span class="title">{{ previous_post.title }}</span>
            </a>
            {% endif %}
        </div>
    </section>
</div>